<h1>{{title}}</h1>
{{#if loggedIn}}
    <form method="post" action="stocks/getStocks">
        <input type="text" name="stockName">
        <input type="submit">
    </form>
    {{#if price}}
        <center>
            <table class="tablestyle">
                <tr>
                    <th>Symbol</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>Count</th>
                    <th>Buyable</th>
                </tr>
                <tr>
                    <form action="buystock" method="post">
                        <td><input type="hidden" name="symbol" value="{{symbol}}">
                        {{symbol}}
                        </td>
                        <td><input type="hidden" name="name" value="{{company}}"/>
                        {{company}} 
                        </td>
                        <td><input type="hidden" name="price" value="{{price}}"/>
                        ${{price}}
                        </td>
                        <td>
                            <input type="text" size="2" name="count">
                        </td>
                        <td>
                            <input type="hidden" name="buyable" value="{{buyable}}"/>
                            {{buyable}}
                        </td>
                        <td><button type="submit">Buy</button></td>
                    </form>
                </tr>
            </table>
        </center>
    {{/if}}
    {{#if ownedStocks}}
        <center>
            <table class="tablestyle">
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Spent</th>
                </tr>
                {{#each ownedStocks}}
                <tr>
                    <form method="post" action="stocks/sellstock">
                        <td>
                            <input type="hidden" name="symbol" value="{{@key}}">
                            {{@key}}
                        </td>
                        <td>
                            <input type="hidden" name="count" value="{{this.count}}">
                            {{this.count}}
                        </td>
                        <td>
                            <input type="hidden" name="spent" value="{{this.price}}">
                            ${{this.price}}
                        </td>
                        <td>
                            <input type="text" size="2" name="amount">
                            <input type="submit" value="Sell">
                        </td>
                    </form>
                    <td>
                        <form method="POST" action="stocks/details">
                            <input type="hidden" name="symbol" value="{{@key}}">
                            <input type="submit" value="Details">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </table>
        </center>
    {{/if}}
    {{#if stockDetails}}
    {{/if}}
{{else}}
You must be logged in to see this page!
{{/if}}