<h1>{{title}}</h1>
{{#if loggedIn}}
<div class="mailWrapper">
    <div class="leftSide">
        <div class="previewWrapper">
            {{#each preview}}
            <div class="mailPreview">
                <form class="previewForm" action="/mail/" method="POST">
                    <button class="previewMail" type="submit">
                        <input type="hidden" name="sender" value="{{this.sender}}">
                        <input type="hidden" name="subject" value="{{this.subject}}">
                        <input type="hidden" name="message" value="{{this.message}}">
                        By: {{this.sender}}
                        <br>
                        Subject: {{this.subject}}
                    </button>
                </form>
            </div>
            <form class="previewForm" action="/mail/deleteMail" method="POST">
                <div class="delMail">
                    <button class="delButton" type="submit">
                        <input type="hidden" name="index" value="{{this.index}}">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </form>
            {{/each}}
        </div>
    </div>
    <div class="rightSide">
        <div class="mailTop">
            <form action="delMail" method="POST">
                <input class="mailText" placeholder="Send by" type="text" value="{{sender}}" readonly />
                <br>
                <input class="mailText2" placeholder="Subject" type="text" value="{{subject}}" readonly />
                <br>
                <textarea class="writeMail" readonly>{{message}}</textarea>
            </form>
        </div>
        <div class="mailBottom">
            <form action="/mail/sendMail" method="POST">
                <input class="mailText" placeholder="Send to" name="sendTo" type="text" />
                <br>
                <input class="mailText2" placeholder="Subject" name="subject" maxlength="20" type="text" />
                <br>
                <textarea class="writeMail" name="message" maxlength="800"></textarea>
                <input class="sendMail" type="submit" value="Send" />
            </form>
        </div>
    </div>
</div>
{{else}}
You are not logged in!
{{/if}}