{{#if loggedIn}}
<h1>{{title}}</h1>

<center>
    <table class="inventorylist" width="50%">
        <tr>
            <th width="20%">Item</th>
            <th width="20%">Count</th>
            <th width="20%">Category</th>
            <th width="20%">Action</th>
            <th width="20%"></th>
        </tr>
        {{#each inventory.inventory}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.count}}</td>
            <td>{{this.category}}</td>
            <form action="/sellshop" method="post">
            <td>
                <button type="submit" name="sellitem" value="{{this.uuid}}">Sell (50%)</button>
            </td>
            </form>
            <td>
                <button type="submit" name="useitem" value="{{this.uuid}}">Install</button>
            </td>
        </tr>
        {{/each}}
    </table>
</center>

{{else}}
You must be logged in to see this page!
{{/if}}
