{{#if loggedIn}}
<h1>{{title}}</h1>
Name: {{user.displayName}}
<br>
Money: ${{user.money}}
<br>
Level: {{user.level}}
<br>
XP: {{user.xp}}
<br>
Needed: {{user.neededXP}}
<br>
IP: {{user.ip}}
<br>
{{else}}
<h1>{{title}}</h1>
You must be logged in to see this profile!
{{/if}}
