{{#if loggedIn}}
<h1>{{title}}</h1>
<p>{{message}}</p>
Currently having {{countServer}} server
<br />
<br />

<center>
	<table class="serverlist" width="90%">
		<tr>
			<th width="20%">Server ID</th>
			<th width="15%">Server IP</th>
			<th width="5%">Health</th>
			<th width="15%">Repair</th>
			<th width="15%">Action</th>
			<th width="30%"></th>
		</tr>
		{{#each listServer}}
		<tr>
			<td>server_{{this.id}}_{{this.uuid}}</td>
			<td>{{this.ip_address}}</td>
			<td>{{this.health}}%</td>
			<form action="/repairserver" method="post">
			<td><input type="hidden" name="repairprice" value="{{this.repairprice}}"><button type="submit" name="repairserver" value="{{this.uuid}}">Repair Server (${{this.repairprice}})</button></td>
			</form>
			<form action="/sellserver" method="post">
			<td>
				<button type="submit" name="sellserver" value="{{this.uuid}}">Sell Server ($30000)</button>
			</td>
			</form>
			<td></td>
		</tr>
		{{/each}}
	</table>
	
</center>

<br />
<form action="/buyserver" method="post">
	<button type="submit" name="buy_server">Buy Server ($50000)</button>
</form>
{{else}}
You must be logged in to see this page!
{{/if}}
