{{#if loggedIn}}
<h1>{{title}}</h1>
<p>{{message}}</p>
Currently having {{countServer}} server
<br />
<br />

<center>
	<table class="serverlist" width="90%">
		<tr>
			<th width="8%">Server ID</th>
			<th width="11%">Server IP</th>
			<th width="5%">Health</th>
			<th width="15%">Repair</th>
			<th width="9%">Sell ($30000)</th>
			<th width="5%">Confirm</th>
			<th width="7%">Manage</th>
			<th width="7%">Password</th>
			<th width="7%">New Password</th>
			<th width="6%">Revenue</th>
			<th width="10%">Available Software</th>
			<th width="10%">Install</th>
		</tr>
		{{#each listServer}}
		<tr>
			<td>server_{{this.id}}</td>
			<td>{{this.ip_address}}</td>
			<td>{{this.health}}%</td>
			<form action="server/repairserver" method="post">
			<td><input type="hidden" name="repairprice" value="{{this.repairprice}}"><button type="submit" name="repairserver" value="{{this.uuid}}">Repair Server (${{this.repairprice}})</button></td>
			</form>
			<form action="server/sellserver" method="post">
			<td>
				<button type="submit" name="sellserver" value="{{this.uuid}}">Sell Server</button>
			</td>
			<td>
				<input type="checkbox" name="confirm_sell" value="true"> Y
			</td>
			</form>
			<td>
				<button type="submit" name="manageserver" value="{{this.uuid}}">Manage</button>
			</td>
			<td>{{this.password}}</td>
			<form action="server/newserverpassword" method="post">
			<td>
				<button type="submit" name="newserverpassword" value="{{this.uuid}}">Generate</button>
			</td>
			</form>
			<td>${{this.revenue}}</td>
			<form action="server/installitem" method="post">
			<td>
				<select name="inventory">
					{{#each ../inventory.inventory}}
						<option value="{{this.uuid}}">{{this.name}}</option>
					{{/each}}
				</select>
			</td>
			<td>
				<button type="submit" name="useitem" value="{{this.uuid}}">Install</button>
			</td>
			</form>
		</tr>
		{{/each}}
	</table>
	
</center>

<br />
<form action="server/buyserver" method="post">
	<button type="submit" name="buy_server">Buy Server ($50000)</button>
</form>
{{else}}
You must be logged in to see this page!
{{/if}}
