{{#if loggedIn}}
<h1>{{title}}</h1>

<center>
    <table class="shoplist" width="90%">
        <tr>
            <th width="50%">Item</th>
            <th width="25%">Price</th>
            <th width="25%">Action</th>
        </tr>
        {{#each shoplist}}
        <tr>
            <td>{{this.itemName}}</td>
            <td>${{this.itemPrice}}</td>
            <td><input type="hidden" name="buyprice" value="{{this.itemPrice}}"><button type="submit" name="buyitem" value="{{this.uuid}}">Buy</button></td>
        </tr>
        {{/each}}
    </table>
</center>

{{else}}
You must be logged in to see this page!
{{/if}}
