<h1>{{title}}</h1>
{{#if loggedIn}}
    {{error}}
    <center>
        <div class="clanwrapper">
            {{#if currentClan}}
            <div>
                <h3>Current clan</h3>
                <h5>Name: {{currentClan}}</h5>
                <table class="tablestyle">
                    <tr>
                        <th>Name</th>
                    </tr>
                        {{#each members}}
                        <tr>
                            <td>{{this}}</td>
                        </tr>
                        {{/each}}
                </table>
                <br>
                <a href="/clan/leaveclan"><input type="button" value="Leave Clan"/></a>
            </div>
            {{/if}}
            <div>
                <h3>Browse</h3>
                <table class="tablestyle">
                    <tr>
                        <th>Name</th>
                        <th>Members/Max</th>
                        <th>Details</th>
                        <th>Join</th>
                    </tr>
                    {{#each clans}}
                        <tr>
                            <form action="clan/joinclan" method="post">
                                <input type="hidden" name="uuid" value="{{this.uuid}}">
                                <input type="hidden" name="name" value="{{this.name}}">
                                <input type="hidden" name="memberCount" value="{{this.memberCount}}">
                                <input type="hidden" name="maxMembers" value="{{this.maxMembers}}">
                                <td>{{this.name}}</td>
                                <td>{{this.memberCount}}/{{this.maxMembers}}</td>
                                <td><a href="/clan/info?clan={{this.name}}"><input type="button" value="Details"/></a></td>
                                <td><button type="submit">Join</button></td>
                            </form>
                        </tr>
                    {{/each}}
                </table>
            </div>
            {{#unless currentClan}}
            <div>
                <h3>Create</h3>
                <form action="clan/createClan" method="post">
                    <input type="text" name="name" placeholder="Clan name" autocomplete="off">
                    <br>
                    <input type="text" name="maxMembers" placeholder="Max members (def. 10)" autocomplete="off">
                    <br>
                    <input type="submit" value="Create">
                </form>
            </div>
            {{/unless}}
        </div>
    </center>
{{else}}
You must be logged in to see this page!
{{/if}}